.center{
    text-align: center;
}

body{
    background-color:black;
    background-size: cover;
}

p{
    color: orange;
    font-size: 15px;
}

h1{
    color: orange;
    font-size:40px;
    text-transform: uppercase;
}